.current-position-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgba(35, 130, 0, 0.8);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
}

.current-position-marker:after {
    content: "\27A4";
    rotate: 270deg;
    background: rgba(66, 208, 26, 0.73);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
